{% if page.comments %} 
<div id="disqus">
	<div id="disqus_thread"></div>
</div>
<script>
	/*var disqus_cofig = function(){
		this.page.url = 'http://waliblog-com{{ page.url }}';
		this.page.identifier = 'http://waliblog-com{{ page.url }}';
	}*/
	(function() { 
		var d = document, s = d.createElement('script');
		s.src = 'https://{{ site.disques.shortname }}.disqus.com/embed.js';
		s.setAttribute('data-timestamp', +new Date());
		(d.head || d.body).appendChild(s);
	})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
{% endif %}