@charset "utf-8";


code.highlighter-rouge{
  padding: 5px;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: #567482;
  background-color: #f3f6fa;
  text-align: center;
  border-radius:5px;
}















