@charset "utf-8";

//文章内容
#articleBody {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 30px auto 30px auto;
  width: 1200px;
  overflow: hidden;
  .article-nav {
    display: block;
    width: 260px;
  }
  .article-nav-list {
    display: none;
    position: fixed;
    top:110px;
    left: 50px;
    padding: 10px;
    list-style: none;
    width: 190px;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
    border-radius: 5px;
    background-color: #fff;
    overflow: hidden;
    z-index: 9999;
    li {
      list-style: none;
      margin: 5px 0;
    }
    a {
      font-size: 14px;
    }
  }
  .article-content {
    display: block;
    width: 940px;
  }
  .article-nav-no{
    width: 1200px !important;
  }

  h1,h2,h3,h4,h5,h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
    color: #333;
  }
  p {
	margin-top:.5em;
    margin-bottom: 1em;
  }
  a{
    color: #42A8E1;
    text-decoration: underline;
  }
  a:hover{
    color: #2a6496;
  }
  
  pre {
	padding: 0.8rem;    
    font-size: 0.9rem;
    line-height: 1.45;
    border-radius: 0.3rem;
	font: 1rem Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #567482;
    word-wrap: normal;
    background-color: #f3f6fa;
    border: solid 1px #dce6f0;
	overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 0.9rem;
    color: $code-text-color;
    background-color: $code-bg-color;
    border-radius: 0.3rem;
  }
  blockquote{
	padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: 0.3rem solid #dce6f0;
  }
}


#discuss{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 990px;
  min-width: 990px;
}


