@charset "utf-8";

//文章内容
#articleBody{
  margin: 30px auto 30px auto;
  width: 990px;
  overflow: hidden;
}

#discuss{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 990px;
  min-width: 990px;
}



