@charset "utf-8";


.btn{
  display: inline-block;
  margin-bottom: 0;
  padding: .5em 1em;
  vertical-align: middle;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;
  white-space: nowrap;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 0;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: background-color .3s ease-out,border-color .3s ease-out;
  transition: background-color .3s ease-out,border-color .3s ease-out;
}


#{$wali}-btn-download{
  display: inline-block;
  margin-bottom: 1rem;
  color: rgba(255,255,255,0.7);
  background-color: rgba(255,255,255,0.08);
  border-color: rgba(255,255,255,0.2);
  border-style: solid;
  border-width: 1px;
  border-radius: 0.3rem;
  transition: color 0.2s, background-color 0.2s, border-color 0.2s;
}


#{$wali}-btn-default{
  color: #fff;
  background-color: #009688;
}
#{$wali}-btn-warn{
  color: #fff;
  background-color: #FFB800;
}
#{$wali}-btn-danger{
  color: #fff;
  background-color: #FF5722;
}


