---
layout: post_default
---
<article id="articleBody" itemscope itemtype="http://waliblog.com/">
    {% if page.post_nav %}
    <div class="article-nav">
        <ul class="article-nav-list">
            {% for title in page.post_nav %}
            <li><a href="{{ title | remove: '.' | remove: '、' |prepend:'#' }}">{{ title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="article-content ">
        {{ content }}
    </div>
    {% else %}
    <div class="article-content article-nav-no">
        {{ content }}
    </div>
    {% endif %}
</article>
<!--评论-->
<div id="discuss">
    <div id="gitmentContainer"></div>
</div>




