@charset "utf-8";

//项目命名
$wali: ".wali";




//颜色
$warn: "#F37B1D";     //警告
$Danger: "#DD514C";   //危险
$succ: "#5EB95E";     //成功
$confirm: "#3BB4F2";  //确认
$confirm-hover: "#0E90D2";













